# Lecture 4: probability

We begin by loading the various libraries that we'll use, and setting the plotting parameters

In [1]:
library(tidyverse)

# set a simple black & white theme for our plots
theme_set(theme_bw())

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Part 1: Birthday paradox

In [2]:
set.seed(3)

In [3]:
birthdays <- sample(1:365, 20, replace = TRUE)
birthdays

 [1] 261 186 140  36 186 363 276 330 183 168  48 104 136  37 108 261 165 137 256
[20] 274

In [4]:
any(duplicated(birthdays))

[1] TRUE

In [5]:
birthdays <- sample(1:365, 20, replace = TRUE)
birthdays

 [1]  12  40  22  70 296  15 330  75  29 343 131  62 127 101 247 182 136 138  68
[20]  33

In [6]:
any(duplicated(birthdays))

[1] FALSE

In [7]:
results <- replicate(1e5, {
    birthdays <- sample(1:365, 20, replace = TRUE)
    any(duplicated(birthdays))
})

head(results)

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE

In [8]:
mean(results)

[1] 0.41156

In [9]:
# computing the probability analytically
1 - prod(365:(365-19) / 365)

[1] 0.4114384